<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.unipiloto.cargaapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CargaApp">
        <service
            android:name=".NotificacionUbicacion"
            android:exported="false"></service>

        <activity android:name=".ConsultarUbicacionCargasRecogidas" />
        <activity android:name=".ConsultaEntregaDeCargaGPS" />
        <activity android:name=".ConsultaRecoleccionCargaGPS" />
        <activity
            android:name=".Gps"
            android:exported="true" />
        <activity
            android:name=".Email"
            android:exported="true" />
        <activity android:name=".VerCargaRecogida" />
        <activity android:name=".ConsultarCargasAsignadasPorConductor" />
        <activity android:name=".EntregarCarga" />
        <activity android:name=".ConsultaEntregaDeCarga" />
        <activity android:name=".ConsultaRecoleccionCarga" />
        <activity android:name=".RecogerCarga" />
        <activity android:name=".ConsultarSolicitudesAsignacionCamion" />
        <activity android:name=".ConsultarCamiones" />
        <activity android:name=".AsignarConductor" />
        <activity android:name=".AsignarCamion" />
        <activity
            android:name=".ConsultarEstadoCargas"
            android:exported="true"
            android:parentActivityName=".LoginPropCarga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPropCarga" />
            >
        </activity>
        <activity
            android:name=".AplicarSolicitudesCarga"
            android:exported="true" />
        <activity
            android:name=".ConsultarSolicitudesDeCarga"
            android:exported="true" />
        <activity
            android:name=".SolicitarCarga"
            android:exported="true"
            android:parentActivityName=".LoginPropCarga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPropCarga" />
            >
        </activity>
        <activity
            android:name=".RegistrarCamion"
            android:exported="true" />
        <activity
            android:name=".LoginConductor"
            android:exported="true"
            android:label="Cargas Recogidas" />
        <activity
            android:name=".LoginPropCamion"
            android:exported="true"
            android:label="@string/conductores" />
        <activity android:name=".CambiarPassword" />
        <activity android:name=".ActualizarDatos" />
        <activity
            android:name=".LoginPropCarga"
            android:exported="true"
            android:label="@string/cargas" />
        <activity
            android:name=".Registro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>